body .login:not() {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

#back {
    display: block;
    border: 1px solid #ccc;
    width: 418px;
    height: 57%; 
    border-radius: 10px;
    padding: 48px 40px 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login {
    width: 600px;
    margin: 0 auto;
}

#login h1,
#login h2 {
    text-align: center;
}

#login h1 {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 549;
}

#login h2 {
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(32,33,36);
}

#login h1 img {
    width: 70px;
}

#login #login_frm fieldset ul {
    margin-bottom: 30px;
}

#login #login_frm fieldset ul li input[name=user_id]:focus{
    border-color: #1a73e8;
    outline: none;
    border-width: 2px;
}

#login #login_frm fieldset ul li input[name=user_id] {
    margin-top: 20px;
    border: 1px solid #aaa;
    width: 357px;
    height: 54px;
    padding: 15px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

@keyframes pushBack {
    0% {
      transform: translateZ(0);
      font-size: 17px;
      color: rgb(108, 110, 118);
    }
    100% {
      transform: translateZ(-50px); 
      font-size: 12px;
      color: #1a73e8;
    }
  }
  
  @keyframes pushForward {
    0% {
      transform: translateZ(-50px);
      font-size: 12px;
      color: #1a73e8;
    }
    100% {
      transform: translateZ(0);
      font-size: 17px;
      color: rgb(108, 110, 118);
    }
  }
  
  .form label {
    position: absolute;
    left: 36px;
    color: rgb(108, 110, 118);
    font-size: 17px;
    padding: 0px 5px;
    top: 214px; 
    transition: all 0.3s ease; 
  }
  
  .form input:focus + label {
    background-color: white;
    top: 190px;
    animation: pushBack 0.3s ease-in-out forwards; 
  }
  
  .form input:not(:focus) + label {
    top: 214px;
    animation: pushForward 0.3s ease-in-out forwards; 
  }
  


#login #login_frm fieldset ul li:nth-child(2) {
    margin-bottom: 50px;
}

#login #login_frm fieldset ul li {
    line-height: 1.3;
    font-size: 15px;
    font-weight: 549; 
    margin: 7px;
    margin-left: -16px;
    color: rgb(95,99,104);
}
#a1 {
    font-size: 14px; 
    font-weight: 549; 
    color: #1a73e8;
}


#login #login_frm fieldset ul a {
    font-size: inherit; 
    color: #1a73e8;
    
}


#login #login_frm fieldset .bottm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#login #login_frm fieldset .bottm #join {
    font-size: .875rem;
    text-indent: -2px;
    font-weight: 500;
}


#join {
    margin-left: -19px;
    color: #1a73e8;
    position: relative;
    display: inline-block;
    width: 80px; 
    height: 36px; 
    overflow: hidden;
    border-radius: 5px; 
    text-align: center; 
    line-height: 36px

}

#join:hover {
    background-color: rgba(206, 224, 235, 0.2); 
    text-align: center; 
    color: #174EA6; 
}

#next_btn {
    background: #1a73e8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 85%; 
}

#login footer {
    margin-top: 734px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 96px;
    margin-right: 100px;
}

#login footer #lang_select{
    font-size: 13px;
}

#lang_select {
    appearance: none;
}

#login footer #right a {
    font-size:13px; 
    color: black;
    margin-left: 20px;
    
}

#login footer #right a:first-child {
    margin: 0;
}

.pointing { 
    margin-left: 100px;
    margin-bottom: 5px;
}
